<style>
body{
	background-image: url('images/spiration_dark.png'); 
}

.picture{
	padding: 20px;
	margin: 20px;

}


#freeCodeCamp, #codeWars, #github{
	height: 150px;
	border-radius: 30px;
	margin: 20px;
	text-align: center;
}
 #Links_text, #Github_text{
text-align: center;
}

h1{
font-family:'Acme', sans-serif;
text-align: center;
background-image: url('images/green_dust_scratch.png');
}


.headline{
 font-family:  'Acme', sans-serif;
 margin-left: 10%;
background-image: url('images/green_dust_scratch.png');


}

td, .text{
	font-size: large;
	margin: 20px;
	padding: 20px;
	border: 3px solid black;
	border-radius: 30px;
  font-family:'PT Mono';
	 font-weight:bold;
 background-image: url("images/green_dust_scratch.png");

}



iframe{
	size:50%;
}

</style>
