<style>
body{
	background: url("spiration_dark/spiration_dark.png"); 
}
h1{
font-family:'Acme', sans-serif;
text-align: center;


}
h2{
 font-family:  'Acme', sans-serif;
  
}
.text{
	margin: 25px;
	padding: 10px;
  font-family:'PT+Mono', cursive;
 background-image: url("green_dust_scratch/green_dust_scratch.png");
}



</style>
