<style>
body{
	background-image: url("spiration_dark/spiration_dark.png"); 
}

#name{
font-family:'Acme', sans-serif;
text-align: center;
}

.headline{
 font-family:  'Acme', sans-serif;
  text-align: center;
}

.text{
	margin: 25px;
	padding: 10px;
  font-family:'PT+Mono', cursive;
 background-image: url("green_dust_scratch/green_dust_scratch.png");
}



</style>
